<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.treintaalda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Act_drawer.About_Us"
            android:label="Info del desarrollador"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Act_drawer.Recomendaciones"
            android:label="Recomendaciones de calentamiento"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Activities.Fourth_Ejercicio" />
        <activity
            android:name=".Activities.Third_nivelCon"
            android:label="nivel Sin Aparato"
            android:parentActivityName=".Activities.Secon_conAparato" />
        <activity
            android:name=".Activities.Third_nivelSin"
            android:label="nivel Sin Aparato"
            android:parentActivityName=".Activities.Secon_sinAparato" />
        <activity
            android:name=".Activities.Secon_sinAparato"
            android:label="Sin Aparato"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activities.Secon_conAparato"
            android:label="Con Aparato"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>